<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
    <head>
        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>FANTACALCIO</title>
        
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
		<!-- StyleSheets -->
		<link rel="stylesheet" type="text/css" href="res/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="res/css/bootstrap-responsive.css" />
		<link rel="stylesheet" type="text/css" href="res/css/select2.css" />
		<link rel="stylesheet" type="text/css" href="res/css/custom.css" />

    </head>
    
    <body>

	    <div class="container-fluid configura-squadre">

		    <div class="navbar">
			    <div class="navbar-inner">

				    <a class="brand" href="#">FANTASY FOOTBALL</a>

				    <ul class="nav nav-pills">
				     	<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								Points recap <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#filter?Squadra=all" class="active">All teams</a></li>
								<li><a href="#filter?Squadra=Atalanta">Atalanta</a></li>
								<li><a href="#filter?Squadra=Bologna">Bologna</a></li>
								<li><a href="#filter?Squadra=Cagliari">Cagliari</a></li>
								<li><a href="#filter?Squadra=Catania">Catania</a></li>
								<li><a href="#filter?Squadra=Chievo">Chievo</a></li>
								<li><a href="#filter?Squadra=Fiorentina">Fiorentina</a></li>
								<li><a href="#filter?Squadra=Genoa">Genoa</a></li>
								<li><a href="#filter?Squadra=Inter">Inter</a></li>
								<li><a href="#filter?Squadra=Juventus">Juventus</a></li>
								<li><a href="#filter?Squadra=Lazio">Lazio</a></li>
								<li><a href="#filter?Squadra=Milan">Milan</a></li>
								<li><a href="#filter?Squadra=Napoli">Napoli</a></li>
								<li><a href="#filter?Squadra=Palermo">Palermo</a></li>
								<li><a href="#filter?Squadra=Parma">Parma</a></li>
								<li><a href="#filter?Squadra=Pescara">Pescara</a></li>
								<li><a href="#filter?Squadra=Roma">Roma</a></li>
								<li><a href="#filter?Squadra=Sampdoria">Sampdoria</a></li>
								<li><a href="#filter?Squadra=Siena">Siena</a></li>
								<li><a href="#filter?Squadra=Torino">Torino</a></li>
								<li><a href="#filter?Squadra=Udinese">Udinese</a></li>
							</ul>
						</li>
					    <li class="active dropdown">
					    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					    		League <b class="caret"></b>
					    	</a>
					    	<ul class="dropdown-menu">
								<li><a href="configura_lega.html">Configure league</a></li>
								<li class="active"><a href="configura_squadre.html">Configure team</a></li>
								<!-- <li><a href="#">Classifica</a></li> -->
							</ul>
					    </li>
					    <!-- <li class="dropdown">
					    	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					    		Formazioni lega <b class="caret"></b>
					    	</a>
					    	<ul class="dropdown-menu">
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
								<li><a href="#">Team</a></li>
							</ul>
					    </li> -->
				    </ul>

			    </div>
		    </div>

		    <div class="row-fluid">

			    <!--Body content-->
			    <div class="span12">

			    	<div class="well">
			    		<h1>Configure teams in your league</h1>
			    		<p>Lorem ipsum dolor sit amet</p>
			    	</div>

			    </div>
			</div>

			<div class="row-fluid">
			    <div id="configuratoreSquadra" class="span12">

			    	<div class="tabbable">
				    	<ul id="tab-squadre" class="nav nav-tabs">
							<li><a id="aggiungiSquadra" href="#">+ Add team</a></li>
						</ul>

						<div id="view-squadra" class="tab-content">

						</div>

					</div>

			    </div>

		    </div>

	    </div>
	        
		<!-- Javascript -->
		<script type="text/javascript" src="res/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="res/js/jquery.tools.min.js"></script>
		<script type="text/javascript" src="res/js/jquerytools.expose.js"></script>
		<script type="text/javascript" src="res/js/moment.min.js"></script>
		<script type="text/javascript" src="res/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="res/js/underscore-min.js"></script>
		<script type="text/javascript" src="res/js/backbone-min.js"></script>
		<script type="text/javascript" src="res/js/select2.min.js"></script>

		<!--[if lt IE 8]>
		<script type="text/javascript" src="res/js/DD_belatedPNG.js"></script>
		<script type="text/javascript" src="res/js/jquery.fixPNGs.js"></script>
		<![endif]-->
        <script type="text/javascript" src="res/js/supersleight.plugin.js"></script>
        
		<script type="text/javascript" src="inc/lista_calciatori.js"></script>
		<script type="text/javascript" src="inc/default_configuration.js"></script>

		<script type="text/javascript" src="res/js/custom.js"></script>
		<script type="text/javascript" src="res/js/configura_squadre.js"></script>

		<!-- Templates -->
		<script type="text/template" id="rosa-riga-calciatore">
			<tr class="riga-calciatore">
                <td><%= id %></td>
                <td><%= name %></td>
                <td><%= team %><a class="icon-minus-sign pull-right icon-top-margin rimuovi-giocatore" href="#"></a></td>
            </tr>
		</script>

		<script type="text/template" id="tab-squadra">
			<li class="tab"><a class="nomeSquadra" href="#<%= nomeSquadra.split(' ').join('_') %>" data-toggle="tab"><%= nomeSquadra %></a></li>
		</script>

		<script type="text/template" id="tab-squadra-contenuto">
			<div id="<%= nomeSquadra.split(' ').join('_') %>" class="tab-pane">
				<form>
					<div class="row-fluid">

    					<div class="span2 nome-squadra">
    						<h3>Settings</h3>

    						<label>Team name</label>
							<input class="nomeSquadra" type="text" value="<%= nomeSquadra %>" def-value="<%= nomeSquadra %>" placeholder="Nome squadra">
							<p></p>
							<a class="btn salvaSquadra" href="#">Save team <span class="icon-ok"></span></a>
							<p></p>
							<a class="btn rimuoviSquadra" href="#">Remove team <span class="icon-remove"></span></a>
							<p></p>
							<div class="alert-container"></div>
    					</div>

    					<div class="span10 rosa-giocatori">
    						<h3>Owned players</h3>

    						<div cass="row-fluid">
    							<div class="span3 portieri">
				
								</div>
    							<div class="span3 difensori">
				
								</div>
    							<div class="span3 centrocampisti">
				
								</div>
    							<div class="span3 attaccanti">
				
								</div>
    						</div>

    					</div>

    				</div>
    			</form>
    		</div>
		</script>

		<script type="text/template" id="tab-squadra-contenuto-tabella">
			<div>
				<h4 class="ruolo">
					<%= ruolo %><br />
					<small class="num label" data-num="num<%= ruolo %>">0 of 3</small>
				</h4>

				<label>Add <%= ruolo %></label>
				<select class="elenco" placeholder="Cerca <%= ruolo %>...">
				</select>
				<a class="icon-plus-sign aggiungi-giocatore icon-top-margin" href="#"></a>
				<div class="alert-container"></div>

	    	    <table class="table table-hover table-condensed table-striped table-bordered tabella-calciatori">
	    	    	<thead>
	    	    		<tr>
	    	    			<th>ID</th>
	    	    			<th>Player</th>
	    	    			<th>Team</th>
	    	    		</tr>
	    	    	</thead>
	    	    	<tbody>
	    	    	</tbody>
			    </table>
			</div>
		</script>

		<script type="text/template" id="tab-squadra-contenuto-option">
			<option value="<%= theString %>"><%= theString %></option>
		</script>

		<script type="text/template" id="alert">
			<div class="alert alert-block">
				<a href="#" class="close" data-dismiss="alert">×</a>
				<p class="error-text"><%= message %></p>
			</div>
		</script>
    </body>
</html>
